.landing-container {
  position: relative;
	height: 100vh;
	overflow: hidden;
  background-color: #D34848;
  z-index: 0;
}

.slide-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.hero-slider {
  z-index: -1;
}

.hero-caption-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 960px;

  .hero-caption-title {
    font-size: 52px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-bottom: 20px;
  }
  .hero-caption-subtitle {
    width: 75%;
    font-size: 26px;
    text-align: center;
    font-weight: 400;
    color: white;
    padding-bottom: 20px;
  }
}
