#burger-menu, #menu-bubble {
  top:0;
  left:0;
  position: absolute;
}

#burger-menu {
  z-index: 2;
  margin-left: 20px;
  margin-top: 20px;
}

#menu-bubble {
  z-index: 1;
}

.menu-hz {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0;

  .menu-title {
    font-size: 26px;
    font-weight: 500;
    color: #fff;
  }
}

.menu {
  width: 35px;
  height: 30px;
  // margin: 30px 0 30px 30px;
  padding: 25px 15px 0 30px;
  cursor: pointer;

  .bar {
    display: block;
    height: 3px;
    width: 100%;
  }

  #bar-1 {
    transform: translateY(-4px);
    transition: transform 450ms;
  }

  #bar-2 {
    transition: all 450ms;
  }

  #bar-3 {
    transform: translateY(4px);
    transition: transform 450ms;
  }

}

.nav {
  display: none;
}

.menu-bubble {
  margin: 30px 0 20px 20px;
  background-color: #000;
  transform: translate(-100%, -100%);
  border-radius: 50%;
  transition: all 250ms ease-in;
}


// Menu opened styling

.menu.active {
  #bar-1 {
    transform: translateY(4px) rotateZ(-45deg);
    transition: transform 450ms;
  }

  #bar-2 {
    opacity: 0;
    transition: all 450ms;
  }

  #bar-3 {
    transform: translateY(-2px) rotateZ(45deg);
    transition: transform 450ms;
  }
}


.nav.active {
  padding: 0;
  // margin: 0 20px;
  display: block;

  li {
    list-style: none;
    padding: 5px 30px;
  }

  li a {
    // color: #fff;
    // font-size: 22px;
    // font-weight: 700;
    // text-decoration: none;
    // transition: all 450ms ease-in;

    // &:hover {
    //   transition: all 450ms ease-in;
    // }
  }

}

.menu-bubble.active {
  width: 450px;
  height: 400px;
  transform: translate(-30%, -30%);
  transition: all 250ms ease-in;
}