.pricing-container {
  position: relative;
	height: 100vh;
	overflow: hidden;
  background-color: #191919;
}

.pricing__plans-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}